<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm"*ngIf="!isLoading">
      <mat-form-field>
          <input
          matInput
          name="email" ngModel
          type="email"
          placeholder ="E-mail"
          required
          email
          #emailInput="ngModel">
          <mat-error *ngIf="emailInput.invalid">Please enter a valid E-mail</mat-error>
        </mat-form-field>
          <mat-form-field>
              <input type="password" name="password" ngModel #passwordInput="ngModel" required matInput placeholder="password">
              <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent"
          type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>

